*~
*.swp
tags
.tags
.root/
__pycache__/
renderers/__pycache__/
chat.txt
*.log
*.ps1
tests/
share/
test.py
*.temp
.mypy_cache/
.vscode/
main-temp.py
*.so
*.exe
.idea/
.fleet/
test*
